<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="{{lang}}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/link.css{{css_version}}">
    <meta name="google" content="notranslate">
</head>
<body>{{{item}}}</body>
</html>